:root{
    --main-color:#1f2524;
    --gold:#f1a900;
    --white:#fff;
    --hover-color:#dadada;
    --secound-color:#29443a;
}
body{
    background-color: #0D0D0D;
    color: #f9f6f6;
}
.logo{
    width: 50px;
}
i{
    cursor: pointer;
}
.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: 0.5s;
}
.meal:hover .meal-layer{
    top: 0;
}
.side-nav-menu{
    z-index: 999;
}
.nav-tab{
    background-color: #0D0D0D;  
}
.cursor-pointer{
    cursor: pointer;
}
.alert{
    width: fit-content;
}

.cart-header{
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .cart-image{
    display: flex;
    flex-basis: 1;
    gap: 10px;
  }
  .cart-image .cart{
    position: relative;
    background-color: var(--gold);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 0;
  }
  .cart-image .cart-count{
    position: absolute;
    background-color: white;
    border:1px solid var(--gold);
    color: var(--gold);
    min-width: 20px;
    height: 20px;
    border-radius: 20px;
    top:-5px;
    right:-5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
  }
  .cart-image h4{
    font-size: 14px;
    color: var(--gold);
  }



  .product-cart{
    padding: 10px 0;
    background-color: white;
    border-radius: 5px;
    margin: 20px 0;
    position: relative;
  }
  .product-cart div{
    display: flex;
    align-items: center;
  }
  .product-cart .one{
   cursor: pointer;
  }
  .product-cart .one:hover  p{
    color: var(--gold);
    transition: .3s;
   }
  
  .product-cart-img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 10px;
    object-fit: cover;
  }
  .product-cart i{
    position: absolute;
    color: #c71c1c;
    top:20px;
    left: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 20px;
   }
   .cart-size{
    margin: 10px 0;
    padding: 10px ;
    border-top: 2px solid #00000017;
    border-radius: 10px;
   }
   .cart-grow{
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 0 5px;
   }
   .cart-grow div{
     width: 100%;
     height: 3px;
     background-color:rgb(247, 247, 247);
   
   }
   .cart-body {
     background-color:rgb(247, 247, 247) ;
     border-radius: 10px;
     padding: 30px 0;

   }

   .payment-image{
    display: flex;
    gap: 10px;
  }
  .payment-image .cart{
    position: relative;
    background-color: rgb(247, 247, 247);
    color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-left: 10px;
    margin-right: 0;

  }


  .btn-buying{
    padding: 7px 0px;
    border: none;
    background-color: var(--secound-color);
    border-radius: 5px;
    color: white;
    transition: 0.3s;
  
  }
  .btn-buying:hover{
    background-color: var(--gold);
  }

  .cart{
    position: relative;
    
  }
  .cart .count{
    position: absolute;
    background-color: var(--gold);
    min-width: 20px;
    height: 20px;
    border-radius: 20px;
    top:-15px;
    left: 15px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   .price{

    border-radius: 20px;

    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.price span{
   margin-right: 5px;
   color: var(--gold);
   font-size: 14px;
  }


  .product-select-body {
    margin-top: 20px;
   }
  .product-select-body-name{
    color: var(--hover-color);
    margin-bottom: 20px;
    font-size: 30px;
    font-weight:600;
     
  }
  .product-select-body-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    border-radius: 7px;
    padding: 10px ;
    background-color: #e4e4e44d;
    margin: 20px 0;
  }
  
  .product-select-body-quantity p{
      margin: 0;
      font-size: 16px;
      font-weight: bold;
  }
  .product-select-body-quantity i,span{
    font-size: 16px;
    color: var(--gold);
    font-weight: bold;
  }
  .product-select-body-details-model{
  border: 1px solid #e4e4e44d;
   border-radius: 5px;
   padding: 5px 0;
   margin: 5px ;
   font-size: 12px;
  }
  .product-select-body-details-model span{
    font-size: 12px;
    margin-left: 5px;
  }
  .product-select-body-details-model .result{
    border-right: 1px solid #000000;
    color: #5d5d5d;
    font-size: 14px;
  }
  .product-select-body-details-model .result_1{
    font-size: 14px;
  }

  .product-select-button{
    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  .product-select-cart-button{
    background-color: goldenrod;
    border: 1px solid goldenrod;
    color: white;
  }
  
  .product-select-buy-button{
    background-color: white;
    border: 1px solid goldenrod;
    color: goldenrod;
  }
  .product-select-button:hover{
    transform: scale(1.01);
    transition: .3s;
  }


  .payment{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
    
   }
   .payment .section{
    border-bottom:2px solid #f9f9f9;
    padding-bottom:20px;
    margin-bottom:20px
   }
   .carry {
  display: flex;
  align-items: center;
  
  }
  .carry-number{
    background-color: #3b3b3b80;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold ;
    margin-left: 10px;
    color: white;
  }
  .carry-number i{
  font-size: 14px; 
  }
  
  .carry p{
    font-size: 18px;
    margin: 0;  
    font-weight: bold;
  }
  .carry .line{
   height: 5px; 
   background-color: #f2f2f25a;
   flex-grow: 1;
  }

  .payment .section{
    border-bottom:2px solid #f9f9f9;
    padding-bottom:20px;
    margin-bottom:20px
   }

   .pay-button{
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
  }
  .pay-button:hover{
    background-color: #000000;
    transform: scale(1.01);
    transition: .3s;
  }